<h3>Contact Information</h3>

<p><img src="http://a.deviantart.net/avatars/m/r/mrherrimanplz.gif?1"><p>

<ul>
<li><strong>Name:</strong> <%= @contact.name %></li>
<li><strong>Address:</strong> <%= @contact.address %></li>
<li><strong>Phone number:</strong> <%= @contact.phone_number %></li>
<li><strong>Email Address:</strong> <%= @contact.email %></li>
</ul>
<hr>
<button><a href=<%=contacts_path%>>Back to contact list</a></button>